.btn-primary {
  border-radius: 5px;
}

.btn-group {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn-light {
  border-radius: 5px;
}

.btn-secondary {
  border-radius: 5px;
}

